.flex-center {
  display: flex;
  flex-direction: column;
  // height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: fit-content;
 
}

.welcome {
  font-size: x-large;
}

.logo-container {
  display: flex;
  // justify-items: flex-end;
  justify-content: space-between;
  // padding-right: 70px;
  // margin-top: 20px;
 

align-items: center;
}
.logo2 {
  width: 30%;
  max-width: 100%;
height: auto;
padding-top: 30px;
padding-bottom: 30px;


}

.bmh {
  &-container {
    padding: 0 2%;
    display: flex;
    width: 90%;
    max-width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    &--item {
      min-width: 48.5%;
      width: 48.5%;
      max-width: 48.5%;
      height: 250px;     
      margin-bottom: 20px;
    }
  }
}