.flex-center {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.bmh {
  &-container {
    padding: 0 10%;
    display: flex;
    width: 100%;
    max-width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    &--item {
      min-width: 48.5%;
      width: 48.5%;
      max-width: 48.5%;
      height: 300px;
      margin-bottom: 40px;
    }
  }
}
