.ArticleListItem {
  display: flex;
  width: 1200px;
  height: 151.095px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 3px 6px rgba(#000000,0.16);
  margin: 50px auto;
  transition: transform .15s linear;

  &__Img {
    flex-basis: 27.55%;
    //background-color: #ED4739;
    background-size: cover;
    background-image: url("https://thumbor.forbes.com/thumbor/fit-in/1200x0/filters%3Aformat%28jpg%29/https%3A%2F%2Fblogs-images.forbes.com%2Falejandrocremades%2Ffiles%2F2018%2F07%2Fdesk-3139127_1920-1200x773.jpg");
  }
  &__Content {
    flex-basis: 72.45%;
    padding: 12.0876px 25.902px 8.634px 22.4484px;

    &--Heading {
      font-size: 25px;
      font-weight: bold;
      color: #5A5D65;
    }
    &--Paragraph {
      font-size: 18px;
      color: #5A5D65;
      margin: 10.36px 0px;
      max-height: 47px;
      overflow: hidden;
    }
    &--DateAndButtonDiv {
      display: flex;
      justify-content: space-between;
      &-PublishedDate {
        font-size: 16px;
        color: #5A5D65;
      }
    }
  }

  &:hover {
    transform: scale(1.01);
    cursor: pointer;
  }
}