.profile {
    display: flex;
    /*background-color: #094EC0;*/
    /*height: 100vh;*/
}
.profile__details {
    flex: 0.25;
    /*background-color: #F44242;*/
    display: flex;
}
.profile__details--content {
    display: flex;
    flex-direction: column;
    flex: .99;
}
.profile__details--content-profile-pic {
    height: 7.5rem;
    width: 7.5rem;
    border-radius: 50%;
    margin: 1.25rem auto;
    background-color: #E9EBEC;
    background-image: url("https://ualr.edu/studentaffairs/files/2020/01/blank-picture-holder.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.profile__details--content-profile-pic .profile__details--content-profile-pic-change {
    height: inherit;
    width: inherit;
    border-radius: inherit;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}
.profile__details--content-profile-pic-change h3 {
    color: #FFFFFF;
}
/*.profile__details--content-profile-pic input {*/
/*    visibility: hidden;*/
/*}*/
.profile__details--content-profile-pic:hover .profile__details--content-profile-pic-change {
    visibility: visible;
    cursor: pointer;
}
.profile__details--content-username {
    text-align: center;
    font-weight: normal;
    margin-bottom: 2rem;

}
.profile__details--content-menu {
    margin: 3rem 0;
}
.profile__details--boundary {
    border-right: 1px solid rgba(0,0,0,0.08);
    flex: .1;
}
.profile__activity {
    flex: .75;
    /*background-color: #0F9D58;*/
}
.profile__activity--blogs-heading {
    text-align: center;
    margin: 1.25rem 0;
}
.profile__activity--blogs-my-blogs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 3.125rem;
}
.profile__activity--blogs-view {
    float: right;
    margin-right: 2.8125rem;
    margin-top: -1.875rem;
    font-size: 0.9375rem;
}
.profile__activity--blogs-view:hover {
    cursor: pointer;
    color: #4285F4;
}
.upload-image {
    visibility: hidden;
}