.about {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__heading {
        margin-top: 5rem;
        margin-bottom: 2rem;
        text-align: center;
        font-size: 2.5rem;
        color: #666666;
    }

    &__maincontainer {
        display: flex;
        justify-content: space-around;
        align-items: center;
    
    }
    &__contentcontainer {
        display: flex;
        width: 90%;

        p {
            margin-top: 5rem;
            margin-left: 2rem;
            padding: 2rem;
            font-size: 1.2rem;
            color: #555555;
        }
    }
}