$col-primary-blue: #458BFF;
$col-primary-blue-30: rgba($col-primary-blue, 0.3);
$col-primary-red: #ED4739;
$col-primary-yellow: #FFD459;
$col-primary-green: #19C270;
$col-title-black: #1A1616;
$col-text-gray: #5A5D65;

$col-silver-lining-100: #E3E3E3;
$col-silver-lining-80: rgba($col-silver-lining-100, 0.80);
$col-silver-lining-70: rgba($col-silver-lining-100, 0.70);
$col-silver-lining-60: rgba($col-silver-lining-100, 0.60);
$col-silver-lining-30: rgba($col-silver-lining-100, 0.30);

$col-text-light-background-100: #FCFCFC;
$col-text-light-background-101p5: darken($col-text-light-background-100, 1.5%);

$col-silver-border-100: #EEEEEE;