.ArticlesDirectoryButton {
  //width: 132px;
  //height: 36px;
  //border-radius: 5px;
  //padding: 7px 28px 7px 28px;
  background-color: #FFD459;
  text-transform: uppercase;
  //font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: #5A5D65;
  border: none;
  text-decoration: none;
  outline: none;
  transition: transform .1s linear;

  &:hover {
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0px 3px 6px rgba(#000000,0.16);
  }
}