@import "../../../sass/abstract/main";

$cardHeaderHeight: 75%;
$cardCmdHeight: 100% - $cardHeaderHeight;
$cardRadius: 8px;

.module-icon {
  width: 60%;
  max-width: 100%;
  height: auto;
}

.page-card {

  border-radius: $cardRadius;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  width: 100%;
  max-width: 100%;
  min-width: 100%;

  background-color: #F2F2F2;
 
  
  min-height: 95%;
  
  display: flex;
  flex-direction: column;
 
 


  &-meta{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    &--header {
      height: 0;
      padding: 20px 30px;
      display: flex;
      flex-direction: column;
      border-top-left-radius: $cardRadius;
      border-top-right-radius: $cardRadius;
      border-bottom: 0;

      .card-hero-icon {
        width: 30%;
      }
      .card-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 10px;          
        &--title {
           
        }
        &--desc {

        }
      }
    }

    &--cmd {
      height: $cardCmdHeight;
      border-bottom-left-radius: $cardRadius;
      border-bottom-right-radius: $cardRadius;
      padding: 0 5%;
      display: flex;
      align-items: center;
      &-icon {
        width: 20px;
        margin-left: auto;
      }
      &-text {
        font-family: 'Roboto Medium';
        font-size: 2px;
        color: #fff;
      }
    }
  }



}
.title-heading-black {
  font-family: 'Roboto Black', sans-serif;
  font-size: 20px;
  color: $col-title-black;
  
}
.card-desc {
  font-family: 'Roboto Regular', sans-serif;
  font-size: 18px;
  color: $col-text-gray;
}