.ArticleMainHeader {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 250px;
  border-radius: 20px;
  overflow: hidden;
  margin: 10px auto;
  box-shadow: 0px 3px 6px rgba(#000000,0.16);

  &__Img {
    flex-basis: 65.6%;
    background-image: url("https://www.employmenthelp.org/wp-content/uploads/Workshops-Header-Background.png");
    background-size: cover;
    background-position: center;
    position: relative;

    &--AboveText {
      font-size: 49px;
      font-weight: bold;
      color: #5A5D65;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

    }
  }
  &__Toolbar {
    flex-basis: 34.4%;
    display: flex;
    justify-content: center;

    &--ButtonsPalette {
      width: 47.91%;
      display: flex;
      justify-content: space-evenly;

      &-Button {
        flex-basis: 30%;
        display: flex;
        flex-direction: column;

        &-Text {
          flex-basis: 87.21%;
          position: relative;

          p {
            font-size: 22px;
            color: #5A5D65;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
          }
        }
        &-Bar {
          flex-basis: 12.79%;
          background-color: #FFD459;
          border-radius: 10px 10px 0px 0px;
        }
        &:hover {
          background-color: #f1f3f4;
          cursor: pointer;
        }
      }
    }
  }
}