.sidebar {
  padding: 8%;
  color: white;
  background-color: #1F2639;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
 

}

.commands {
  margin-top: 10px;
}
.command {
  margin-bottom: 10px;
}
.h6 {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 0.0075em;
  color: #FFD54B;

}
.caption {

  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 1.66;
  letter-spacing: 0.03333em;
  padding-left: 0;

}

.button {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  color: white;
}