.profile-section {
 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.profile-btn {
  background-color: #FFD54B;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
}

.profile-pic {
  height: 7.5rem;
  width: 7.5rem;
  border-radius: 50%;
  background-color: #E9EBEC;
  background-image: url("https://ualr.edu/studentaffairs/files/2020/01/blank-picture-holder.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}


.sidebar {
  padding: 8%;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  //height: 100vh;
  // height: auto;
  overflow: auto;
  
}

.commands {
  margin-top: 10px;
}
.command {
  margin-bottom: 10px;
}
.h6 {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 0.0075em;
  color: #FFD54B;

}
.caption {

  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 1.66;
  letter-spacing: 0.03333em;
  padding-left: 0;

}

.button {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  color: white;
}